<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Página feita por Italo Pontual</ion-card-title>
      <ion-card-subtitle>Série: 3º ano B</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <div class="info">
            <ion-icon name="mail"></ion-icon>
            <ion-label>ipcs@etepd.com</ion-label>
          </div>
        </ion-item>
        <ion-item>
          <div class="info">
            <ion-icon name="call"></ion-icon>
            <ion-label>(81) 98880 8650</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
